.formm {
    width: 500px;
    max-width: 100%;
}

body {
    background:linear-gradient(360deg, #4c4f94 , #4fe8e8);
} 

.title{
    text-align: center;
    justify-content: center;
    align-items: center;
}

form{
    border-radius: 8px;
}