<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User registered</title>
</head>
<style>
    p {
        text-align: center;
        align-items: center;
        color: black;
        font-weight: 300px;
        font-size: 80px;
        padding-top: 50px;
    }
</style>

<body>
    <p><b> You are successfully registered </b>
    <p>
</body>

</html>